body {
    background-color: #fbfbfb;
}
#header{
    position:absolute;
    max-width: 1000px;
    min-width: 800px;
    width: 1000px;
    min-height: 75px;  
}

#title-logo{
    height: 50px;
    float: left;
}
#project-title{
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: 400;
    height: 100px;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;                
    clear:both;
    font-weight: 600;
    color: #b96169;
}
#content-wrapper{
    max-width: 1000px;
    min-width: 800px;
    width: 1000px;
    margin: 0 auto 20px;
}

#content{  
    padding-top: 130px;
}
li{
    margin: 10px 0px;
}

#nav a.active{
    color: #000000;
    font-weight: bold;
}
#nav a{
    color: #333333;
    text-decoration: none;
}

a { 
    text-decoration: none;
}

a:hover{
    color: #DD4124;
    font-weight: 600;
}

.links-container {
    margin-top: 10px;
}

h3  {
    color: #717971;
    width: 300px;
    border-bottom: 2px dotted green;
}
  